.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 0px 0 40px 0;
  margin-bottom: 40px;
}
.cards .card{
  box-shadow: 0 0 25px -15px var(--blue);
  border-radius: 4px;
  padding: 45px 30px 36px;
}
.cards .card img{
  margin: 0 0 16px;
}
.cards .card h2{
  font-size: 22px;
  margin: 0 0 12px;
  color: #1b2336;
}
.cards .card p{
  color: #415674;
  font-size: 15px;
}
.cards .card .link{
  margin: 11px 0 0;
  color: #4b83fc;
  cursor: pointer;
  width: max-content;
  border-bottom: 2px solid #4b83fc00;
}
.cards .card .link:hover{
  border-bottom: 2px solid #4b83fc;
}